{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <a href="{% url 'roster_athlete_list' %}"><p class="back-button">Back to Roster</p></a>
    <h1>{{ athlete.firstname }} {{athlete.lastname}}</h1>
    <strong>Year:</strong> {{ athlete.year}}</p>
    <strong>Events:</strong>
    {% for event in athlete.events.all %}
   <li><a href="{% url 'roster_event' event.id %}">{{ event.name }}</a></li>
{% endfor %}
    <p><strong>Hometown:</strong> {{ athlete.hometown}} | {{ athlete.highschool }}</p><hr>
    <strong>Bio:</strong> <p class="bio">{{ athlete.description | linebreaks }}</p>
{% endblock content %}

<!-- questions: why is event.id taking me to athlete.id? when i look at the code in the browser, it's
interpreting this as simply a href="2".> 