{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'roster_team_list' %}"><p class="back-button">Back</p></a>
    <h2>All Athletes</h2>
    <table>
        <tr>
            <th><strong>Name</strong></th>
            <th><strong>Class</strong></th>
            <th><strong>Hometown</strong></th>
        </tr>
        {% for athlete in athletes %}
            <tr>
                <td><a href="{{ athlete.id }}">{{ athlete.lastname }}, {{athlete.firstname}}</a></td>
                <td>{{ athlete.year }}</td>
                <td>{{ athlete.hometown }}</td>
        {% endfor %}
    </table>
{% endblock %}