{% extends 'base.html' %}

{% block content %}
<style>
</style>
    <h2>All {{ team.sport }} Athletes</h2>
    <table>
        <tr>
            <th><strong>Name</strong></th>
            <th><strong>Class</strong></th>
            <th><strong>Hometown</strong></th>
        </tr>
        {% for team_athlete in team_athletes %}
            <tr>
                <td><a href="{% url 'roster_athlete' team_athlete.id %}">{{ team_athlete.lastname }}, {{ team_athlete.firstname}}</a></td>
                <td>{{ team_athlete.year }}</td>
                <td>{{ team_athlete.hometown }}</td>
        {% endfor %}
        
    </table>
{% endblock %}