{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <h1>{{ athlete.name }}</h1>
    <strong>Year:</strong> {{ athlete.year}}</p>
    <strong>Events:</strong>
    {% for event in athlete.events.all %}
   <li><a href="{{ event.id }}">{{ event.name }}</a></li>
{% endfor %}
    <p><strong>Hometown:</strong> {{ athlete.hometown}} | {{ athlete.highschool }}</p>
    <p><strong>Bio:</strong> {{ athlete.description }}</p>
{% endblock content %}

<!-- questions: why is event.id taking me to athlete.id? when i look at the code in the browser, it's
interpreting this as simply a href="2".> 