{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    {% for team in athlete.teams.all %}
        <a href="{% url 'roster_team' team.id %}"><p class="back-button">Back to Roster</p></a>
    {% endfor %}
    <div class="athlete-page"><div class="athlete-info"><h1>{{ athlete.firstname }} {{athlete.lastname}}</h1>
    <strong>Year:</strong> {{ athlete.year}}</p>
    <strong>Events:</strong>
    {% for event in athlete.events.all %}
   <li><a href="{% url 'roster_event' event.id %}">{{ event.name }}</a></li>
{% endfor %}
    <p><strong>Hometown:</strong> {{ athlete.hometown}} | {{ athlete.highschool }}</p></div>
    <strong>Bio:</strong> <p class="bio">{{ athlete.description | linebreaks }}</p><hr></div>

{% endblock content %}

<!-- questions: why is event.id taking me to athlete.id? when i look at the code in the browser, it's
interpreting this as simply a href="2".> 