body {
    padding: 5%;
    background-color: #56A0D3;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    max-width: 960px;
}

header {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 1%;

}

h1 {
    font-family: Helvetica, sans-serif;
}

p {
    font-family: Helvetica, sans-serif;
}

.bio {
    font-family: Baskerville, serif;
}

.back-button {
    font-size: .8em;
    
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

li {
    list-style-type: none;
    line-height: 2em;
}

td {
    padding: 8px 20px 8px 0px;
    border-bottom: 1px solid #222;
    
}

table {
}

.athlete-page {
    max-width: 800px;
}

.athlete-info {
    background-color: #fff;
    color: #000000;
    padding: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.athlete-info a {
    color: #56A0D3;

}

.athlete-info a:hover {
    color: #000000;
}

